
<div id="hero-image">
  <div class="container">
    <div class="row">
      <h1 id='logo'>
        <%= link_to Refinery::Core.site_name, refinery.root_path %>
      </h1>
    </div>
  </div>
</div>

<div id="section-1">
  <div class="container">
    <div class="row">
      <%#= render '/refinery/content_page' %>
      <div class="col-md-5">
        <%= image_tag 'bio.png', :class => 'img-responsive' %>
      </div>


      <div class="col-md-6 col-md-offset-1">
        <h1>Bio</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
        <div class="col-md-12">
          <div class="row">

          <div class="col-md-3 text-center">
            <h5>Freshman</h5>
            <h1>3.6</h1>
          </div>
          <div class="col-md-3 text-center">
            <h5>Sophomore</h5>
            <h1>3.6</h1>
          </div>
          <div class="col-md-3 text-center">
            <h5>Junior</h5>
            <h1>3.6</h1>
          </div>
          <div class="col-md-3 text-center">
            <h5>Senior</h5>
            <h1>3.6</h1>
          </div>
        </div>


        </div>
      </div>
      
    </div>
  </div>
</div>


<div id="section-video">
  <div class="container">
    <div class="row">
      <%#= render '/refinery/content_page' %>
      <h1>Videos</h1>
      <div class="row">
      <div class="col-md-6">
        <iframe width="560" height="500" src="//www.youtube.com/embed/w844soXvTNE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe width="560" height="500" src="//www.youtube.com/embed/w844soXvTNE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe width="560" height="500" src="//www.youtube.com/embed/w844soXvTNE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe width="560" height="500" src="//www.youtube.com/embed/w844soXvTNE" frameborder="0" allowfullscreen></iframe>
      </div>
      
    </div>
    </div>
  </div>
</div>

<div id="section-2">
 <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="black-box">
        <h1>Times</h1>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
      </div>
      

    </div>
    <div class="col-md-4">
      <div class="black-box"><h1>Records</h1>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>

      </div>

    </div>
    <div class="col-md-4">
      <div class="black-box"><h1>Top Placings</h1>
                <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>
        <h4>100 M Breaststroke: 55:00</h4>
        <p>Jan. 3rd, 2011 - Arlington Meet</p>

      </div>

    </div>

  </div>

 </div>
</div>


